In [2]:
#Logitical Regression
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [3]:
#read in the CSV
data = pd.read_csv(os.path.join("cleaned_census_1.csv"))
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,27,2,13,1,2,4,4,0,41310,0,24,25,0
1,63,4,12,14,2,4,4,0,41310,0,50,38,0
2,36,4,11,9,2,3,1,0,41310,0,90,34,0
3,18,2,11,9,4,10,4,0,34095,0,3,38,0
4,19,2,11,9,4,7,4,1,34095,0,20,38,0

In [11]:
#try this with other variables:
# Assign X (data) and y (target)
X = data.drop("education_level", axis=1)
y = data["marital-status"]
print(X.shape, y.shape)

(44993, 12) (44993,)

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [13]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [15]:
classifier.fit(X_train, y_train)

/anaconda3/envs/CWRU/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/envs/CWRU/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
#print training score
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9143551446183025
Testing Data Score: 0.9138590096897502

In [17]:
#make predictions
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [2 4 2 4 0 0 0 2 4 2]
First 10 Actual labels: [2, 4, 2, 4, 0, 0, 0, 2, 4, 2]

In [18]:
 pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction  Actual
0               2       2
1               4       4
2               2       2
3               4       4
4               0       0
5               0       0
6               0       0
7               2       2
8               4       4
9               2       2
10              4       4
11              2       2
12              0       0
13              4       4
14              4       4
15              2       2
16              4       4
17              2       2
18              4       4
19              4       4
20              2       2
21              4       4
22              2       2
23              2       2
24              2       2
25              2       2
26              0       0
27              0       0
28              4       4
29              2       4
...           ...     ...
11219           2       2
11220           0       0
11221           4       4
11222           0       0
11223           2       2
11224           4       4
11225           4       2
11226           2       2
11227           6       6
11228           2       2
11229           0       0
11230           4       4
11231           4       4
11232           2       2
11233           0       0
11234           4       4
11235           2       2
11236           4       5
11237           2       2
11238           2       2
11239           4       4
11240           0       0
11241           2       2
11242           2       2
11243           2       2
11244           2       2
11245           4       4
11246           0       0
11247           4       5
11248           4       4

[11249 rows x 2 columns]

In [ ]:
import pickle

#exporting this model via pickle so we can use it on the flask app
pickle.dump(classifier, open("model.pkl","wb"))